
body {
    background-color: lightgrey;
}

.board {
    margin: auto;
    width: 320px;
    height: 320px;

}

.square {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-radius: 11%;
}

.black {
    background-color: lightgrey;
}

.white {
   background-color: white; 
}

.figure {
    font-size: 30px;
    cursor: pointer;
}

.trophey {
    width: 640px;
    height: 90px;
    border: 20px grey;
}